.env
.venv
node_modules
.claude/

*.pyc
__pycache__/
.DS_Store

disaster-images/
disaster-json/
cropped/
disaster-output/
accuracy/
disaster-output-geojson/
output_image/
hf_models/
disaster florence/
*.7z

mexico-earthquake/
mexico-eq/cropped/
mexico-eq/output/ 
mexico-eq/output-geojson/